.side-bar,
.hero-section,
.navbar {
    background: rgba(223, 223, 223, 0.158);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
    border: 1px solid rgba(223, 223, 223, 0.3);
}

.hero-section {
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

/* .side-bar{
    height: 100%;
} */
.img-div {
    width: 150px;
    height: 150px;

}

.img-div img {
    width: 100%;
    height: 100%;
    border-radius: 75px;

}

.name-div {
    font-family: 'Lobster Two', cursive;
    color: #fff;
}

.social-icon i {
    color: #fff;
    background-color: rgba(114, 114, 114, 0.212);
    width: 30px;
    height: 29px;
    padding: 6px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: 0.5s;
}

.social-icon i:hover {
    background-color: rgba(0, 0, 255, 0.082);
    transform: scale(1.3);
    border: 1px solid rgb(37, 35, 35);

}

hr {
    color: #fff;
}

.user-details-container {

    background-color: rgba(102, 121, 121, 0.308);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 10px;
}

.user-details-container table td,
h4 {
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    border: none;
}

.download-button button,
.hire-button {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    background-color: rgba(114, 114, 114, 0.212);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 10px;
    color: #fff;
    transition: 1s;
    border: none;

}

.download-button button:hover {
    background-color: rgba(0, 0, 255, 0.082);
    transform: scale(1.3);
    border: 1px solid rgb(37, 35, 35);
}

.hire-button:hover {
    background-color: rgba(0, 0, 255, 0.082);
    transform: scale(1.3);
    border: 1px solid rgb(37, 35, 35);
}

.icon {
    font-size: 13px;
}

/* HERO SECTION */
.hero-section {
    height: 467px;

}

.text-div {

    font-family: 'Lobster Two', cursive;

}

.text-div h1 {
    font-size: 50px;
}

.text-div h2 span {
    color: rgb(172, 119, 119);

}


/* NAVBAR */
.navbar {
    width: inherit;
    height: 100vh;
    position: fixed;
    
}

.menu i {
    color: #fff;
    background-color: rgba(114, 114, 114, 0.212);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    font-size: 22px;
    padding: 10px;
    margin-top: 30px;
    border-radius: 25px;
    transition: 0.5s;
    
}
    
.menu i:hover {
    background-color: rgba(0, 0, 255, 0.082);
    transform: scale(1.3);
    border: 1px solid rgb(37, 35, 35);
}
.toggle-button{
    position: fixed;
    left: 0;
    top: 20px;
    z-index: 2;
}
.toggle-button .open-btn {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 0 4px 4px 0;
    background-color: black;
    color: #fff;
    transition: 1s;
    border: none;
}

/* RESPONSIVE RESPONSIVE HERO, SIDEBAR & NAVBAR*/
@media screen and (max-width:1140px){
    .user-details-container table td,
    h4 {
        font-size: 12px;
    }
    
}
@media screen and (max-width:991px) {
    .side-bar {
        border-radius: 10px;
    }

   .user-details-container table td,
    h4 {
        font-size: 12px;
    }

    .offcanvas-background {
        background-color: black;

    }

    .offcanvas-header .close-btn {
        background-color: #fff;

    }
}
@media screen and (max-width:730px) {
  
    
    .menu i{
        font-size: 20px;
    }
}
@media screen and (max-width:600px) {

    .text-div h1 {
        font-size: 35px;
    }
    .text-div h2 {
        font-size: 25px;
    }
}

 @media screen and (max-width:430px){
    .text-div h1 {
        font-size: 24px;
    }
    .text-div h2 {
        font-size: 18px;
    }
     
    .menu i{
        font-size: 12px;
    }
}

